.MakerCard {
    display: grid;
    justify-items: center;
}

.MakerCard img {
    mix-blend-mode: var(--maker-card-img-blend-mode, normal);
}

.MakerImage {
  object-fit: contain;
}

.MakerDescription > div {
  display:grid;
  gap: var(--gap, .5rem);
}
.MakerDescription > span {
  white-space: pre-wrap;
}
.MakerDescription > div > p {
  white-space: pre-wrap;
}