.Batch {
  grid-template-columns: 110px auto;
  padding: .5rem;
}

.Info {
  display: grid;
}

.LevelInfo {
  display: grid;
  grid-template-columns: 1fr auto;
}

.LevelListHeader {
  display: grid;
  grid-template-columns: fit-content(120px) max-content;
}
.LevelListInfo {
  margin-top: 1rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
img + .LevelListInfo {
  margin-left: .5rem;
}
.LevelListTitle {
  font-size: 1.5rem;
  font-weight: 600;
}
.LevelListDescription {
  font-size: 1rem;
  font-weight: 400;
}

@media only screen and (max-width: 420px) {
  .Batch picture {
    display: none;
  }

  .Batch {
    grid-template-columns: auto;
  }

}

.Navigation {
    padding-top: .5rem;
    display: flex;
    flex-flow: row;
}

.Navigation.HasNextBatch {
    display: flex;
    justify-content: flex-end;
}

.Navigation.HasNextBatch.HasPreviousBatch {
    display: flex;
    justify-content: space-between;
}

.NextLevel {
    max-width: 5.125rem;
    margin-right: 0;
}

.PreviousBatch {
    max-width: 5.125rem;
    margin-right: 0;
}

.hidden {
    display: none;
}

.Youtube {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.Iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: none;
    border: none;
}