.Level {
  display: grid;
  gap: 1rem;
}

.Level picture {
  max-width: 100%;
}

@media only screen and (max-width: 700px) {
  .Level .Card {
    padding: 1rem .5rem;
  }
}

@media only screen and (max-width: 500px) {
  .Level .Card {
    padding: 1rem 0;
  }
}

.Level .info {
  display: grid;
}

.Level .info.maker {
  justify-items: center;
}

.Level .makerCard .image {
  margin: 0 auto;
  border-radius: 0.01rem;
}

.makerCard .loading .image {
  opacity: 0.5;
}

.Level .makerDescription {
  padding-top: 1rem;
  white-space: pre-line;
}

.Level .makerCard {
  display: flex;
  flex-flow: column;
}

.Level .levelInfo {
  display: flex;
}

.Level .levelName {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: bolder;
}

.Level .makerInfo {
  display: flex;
  flex: 1 0 0;
  padding-bottom: 0.5rem;
  text-align: left;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.Level .makerName {
  display: grid;
  justify-items: center;
  grid-template-rows:
    [maker] max-content [makerId] 24px;
  width: max-content;
  padding-top: 1rem;
}

.Level .makerName,
.Level .stars,
.Level .image {
  mix-blend-mode: var(--maker-info-mix-blend-mode, none);
}

.Level .name {
  grid-area: maker / content;
  font-size: 0.75rem;
}

.Level .nationality {
  grid-area: maker / full-start;
  margin-right: .2em;
}

.Level .makerId {
  grid-area: makerId / content-start;
  font-size: 0.5rem;
  display: block;
}

.Level .levelCode {
  border-radius: 0px 0px 0.25rem 0.25rem;
  padding-left: 1rem;
  font: var(--level-code-font, 'inherit');
  background: var(--level-code-background, #111);
  mix-blend-mode: var(--level-code-mix-blend-mode, none);
  filter: var(--level-code-filter, none);
  color: var(--level-code-color, #111);
}


.Level .difficulty {
  font-size: 0.75rem;
  align-self: flex-end;
  justify-self: flex-end;
  margin-left: auto;
}

.Level .tags {
  display: flex;
  align-self: flex-end;
  padding-top: 0.2rem;
  padding-right: 0.2rem;
  flex: 1 0 0;
  flex-wrap: wrap;
}

.Level .description {
  white-space: pre-line;
  padding-top: 1rem;
}

.Level .Icon.arrow-left {
  margin: 0;
}

.Level .navigation.hasNextLevel {
  display: flex;
  justify-content: flex-end;
}

.Level .navigation.hasNextLevel.hasPreviousLevel {
  display: flex;
  justify-content: space-between;
}

.Level .navigation {
  display: flex;
  flex-flow: row;
}

.Level .navigation .Button.arrow-right {
  align-self: flex-end;
  justify-self: flex-end;
}

.Level .navigation.hasNextLevel.hasPreviousLevel .Button.arrow-right {
  margin-left: 0;
}

.Level .navigation .Button.arrow-left {
  max-width: 5.125rem;
  margin-right: 0;
}