.Difficulty {
    --_difficulty-label-font: var(--difficulty-label-font, normal 0.75rem/0.75rem var(--font-primary));
    align-self: flex-end;
    justify-self: flex-end;
    justify-content: flex-end;
    flex: 1;
    display: grid;
    grid-template-columns: min-content min-content;
    align-items: center;
}

.Label {
    font: var(--_difficulty-label-font);
}

.Indicator {
    width: 3.27rem;
    display: inline-block;
}