.MakerName {
    display: inline-grid;
    justify-items: center;
    grid-template-columns:
        [first-start] 24px [first-end] 8px [second-start] max-content [second-end];
    grid-template-rows:
        [first-row] max-content [second-row] 24px [end];
    width: max-content;
}

.Nationality {
    grid-area: first-row / first;
}

.Name {
    grid-area: first-row;
    font-size: 1rem;
    line-height: 150%;
    grid-area: first-row / second;
}
.compact .Name {
    justify-self: flex-start;
    font-size: 0.8rem;
}

.MakerId {
    grid-area: second-row;
    font-size: 1rem;
    display: block;
    grid-area: second-row / first / second-row / second;
}
.compact .MakerId {
    font-size: 0.8rem;
    justify-self: flex-start;
}

.MakerCollab {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
