.Theme {
    --font-monospace: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
    /*--font-primary: 'Courier New', Courier, monospace;*/
        --font-primary: verdana;
        /* verdana, Tahoma */
    --font-primary-weight: bold;
    --font-secondary: 'Calibri Bold', 'Tahoma', sans-serif;
        --font-tertiary: "BordersDivideButHeartsShallConquer", 'Tahoma', sans-serif;
    --h1-letter-spacing: 0.9rem;
    --h1-font: bolder 1.6rem/2rem var(--font-secondary);
    --h2-font: bolder 1rem/1.2rem var(--font-primary);
    --gap: .5rem;

    --background: #000;
    --text-color: #ffffff;
    --link-color: #61dafb;
    --letter-spacing: 0;
    --link-color-active: #2c001f;
    --card-texture: #000129;
    --base-font-size: 1.2rem;
        --font-weight: bold;
    --font-tertiary: 'Poppins', sans-serif;
    --button-font: 700 1.2em/1.125em var(--font-tertiary);
    --button-font-weight: bold;
    --button-background: rgb(31, 42, 73);
    --button-box-shadow: 0 0 10px 3px rgba(255, 255, 255, .4);
    --button-padding: .6em 1em;
    --button-after-background: ;
    --button-after-border: 1px solid rgba(0, 0, 0, .5);


    --app-font: normal 1rem/1.2rem var(--font-primary);
    --app-background: url("/10mmc/starbg-3x.webp") repeat center;
    background-size: cover;

    --modal-inner-color: var(--text-color);
    --modal-outer-background: rgba(205, 205, 205, 0.4);
    --modal-inner-background: var(--card-texture) repeat;
    --modal-inner-box-shadow: 0px 0.25rem 0.25rem rgba(46, 47, 48, 0.1);

    --batch-number-background: rgb(73, 163, 218);
    --batch-number-border: 2px solid rgba(0, 0, 0, 1);
    --batch-number-color: #111;
    --batch-number-font: 400 2rem/2rem var(--font-secondary);
    --batch-number-mix-blend-mode: none;

    --navigation-button-color: #4b4c96;
    --app-header-button-color: #0c171b;
    --box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.3);
    --card-button-color: #111;
    --card-button-border: 2px solid rgba(255, 255, 255, 0.5);
    --card-button-border-radius: .5rem;
    --card-button-box-shadow: var(--box-shadow);
    --card-button-after-background: #facd00;

    /* TODO TEST */
    --card-background: var(--card-texture) repeat;
    --card-border: 40px solid transparent;
    --card-padding: 15px;
    --card-border-image: url("/10mmc/border-3x.webp") 225 round;
    --card-border-radius: 0.01rem 0.2rem 0.02rem 0.01rem;
    --illustration-box-shadow: none;
    --card-illustration-transform: translate(7rem, 9rem) scale(0.7);

    --tag-min-width: 100px;
    --tag-text-align: center;
    --tag-new-background: rgb(255, 255, 255);
    --tag-border-radius: 999px;
    --tag-color: white;
    --tag-background: rgba(100, 66, 154, 0.3);
    --tag-shadow: 0 0 5px 1px rgba(255, 255, 255, .3);

    --maker-info-mix-blend-mode: multiply;
    --level-code-color: white;
    --level-code-background: rgba(66, 87, 154, 0.3);
    --level-code-font: 900 1.5rem/3rem var(--font-primary);

    --max-content-width: 617px;
    --app-min-height: 100svh;
    --app-min-width: 32rem;
    --card-width: 100%;

    --footer-font: .875rem/.875rem var(--font-primary);
    --footer-color: var(--text-color);
    --footer-background: var(--card-texture) repeat;
    --footer-border: 20px solid transparent;
    --footer-border-image: url("/10mmc/border-3x.webp") 225 round;
    --maker-card-img-blend-mode: normal;
}