.App {
  display: grid;
  min-height: var(--app-min-height);
  background: var(--app-background);
  color: var(--text-color);
  font: var(--app-font);

  --side-space: 1px;
  --full: minmax(var(--side-space), 1fr);
  --content: min(var(--max-content-width), 100% - var(--side-space) * 2);

  grid-template-rows:
    [header] max-content [body] minmax(min-content, auto) [footer] 3rem;
  grid-template-columns:
    [full-start] var(--full) [content-start] var(--content) [content-end] var(--full) [full-end];
  gap: 2rem 0;
  padding-top: 1rem
}

@media (min-width: 320px) {
  .App {
    --side-space: 6px;
  }
}

@media (min-width: 520px) {
  .App {
    --side-space: clamp(1rem, 6vw, 3rem);
  }
}

.App-header {
  grid-area: header / content;
  display: grid;
  gap: 2rem;
}

.App-body {
  grid-area: body / content;
  display: grid;
  gap: 1em;
}

.App-link {
  color: var(--link-color);
}

.App-footer {
  grid-area: footer / full;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(3, max-content);
  background: var(--footer-background, inherit);
  padding: 1rem 0;
}

.App-footer a {
  display: flex;
  align-items: center;
  font: var(--footer-font);
  color: var(--footer-color, inherit);
  text-decoration: none;
  padding-right: 1rem;
}

.App-footer a:last-child {
  padding-right: 0;
}

.App-footer a+a {
  padding-left: 1rem;
  border-left: 1px solid var(--footer-color, #111);
}