.App {
  width: 100%;
  gap: 1rem;
  display: flex;
  align-items: center;
  -ms-align-items: column;
  justify-content: center;
  -ms-justify-content: column;
  flex-direction: column;
  -ms-flex-direction: column;
  min-height: 100vh;
  background: var(--app-background);
  color: var(--text-color);
  font: var(--app-font);
}

.App-header,
.App-body {
  width: calc(100vw - 2rem);
  max-width: 34rem;
}


.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
  gap: 1rem;
}

.App-body {
  display: flex;
  flex: 1 0 0;
}

.App-link {
  color: var(--link-color);
}

.App-footer {
  display: flex;
  background: var(--app-footer-background, inherit);
  padding: 1rem 0;
  margin-top: 2rem;
  justify-content: center;
  width: 100%;
}

.App-footer a {
  font-size: .875rem;
  color: var(--app-footer-color, inherit);
  text-decoration: none;
  padding-right: 1rem;
}

.App-footer a:last-child {
  padding-right: 0;
}

.App-footer a+a {
  padding-left: 1rem;
  border-left: 1px solid var(--app-footer-color, #111);
}


.youtubeFlexDisable {
  display: block;
  width: 100%;
}

.youtubeContainer {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.youtubeContainer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: none;
}