/* RESET DEFAULT HTML STYLING */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body,
html,
#root,
.App {
  width: 100%;
}

a{
  color: inherit;
}
.tags > span,
.highlight{
  position:relative
}

.tags span:before,
.highlight:before{
    top: -.3em;
    left: 0;
    right: 0;
    bottom: 0;
    content:'';
    position: absolute;
    background-image: url('./assets/highlight_yellow.svg');
    background-size: cover;
    background-repeat: no-repeat;
    transform: scale(1.3,1.5);
    transform-origin: center;
    mix-blend-mode: multiply;
}
.tags span.new:before,
.tags span.precision:before {
  background-image: url('./assets/highlight_magenta.svg');
}
.tags span.new:before,
.tags span.gimmick:before,
.tags span.music:before  {
  background-image: url('./assets/highlight_cyan.svg');
}
.tags span.troll:after {
  content:'';
  margin-top: -.2em;
  bottom:.2em;
  width:1.5em;
  height:1.5em;
  background-size: 100% 100%;
  background-image: url('./assets/troll_kiavik.webp');
}
.tags span.unreleased:before {
  background-image: url('./assets/highlight_magenta.svg');
}



a:active{
  color:#2c001f
}
#root,
.App {
  position: relative;
  overflow-x: auto;
}
div + h1 {
  margin-top: 2rem;
}

h2 ~ p {
  margin-top:.2rem;
}
p ~ a {
  margin-top:.75rem;
}
p ~ p {
  margin-top:.75rem;
}

h1 {
  text-align: left;
  padding: 0 0 1rem 0;
  line-height: 1.3rem;
  font-size: 1.5rem;
  font-weight: normal;
  letter-spacing: normal;
}

.Logo {
  width: 21.875rem;
  max-width: 100%;
  align-self: center;
  justify-self: center;
  padding: 1rem;
}
.Logo > a {
  display: block;
  height: 100%;
  width: 100%;
  cursor: pointer;
}
.Logo > a:after{
    content: inherit;
}
.Logo.small {
  width: 9rem;
  height: 3rem;
  padding: 0;
  align-self: center;
  justify-self: center;
}

.toolbar {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.toolbar.small {
  padding: 0 0 2rem 0;
  display: flex;
  flex: 1 0 0;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.toolbar.big {
  justify-content: flex-end;
  height: 13rem;
}

.toolbar .AboutBtn {
  margin:1em 0 0 0;
  height:auto;
}
.toolbar.big .Logo {
  flex: 0 1 auto;
  position: absolute; /* new */
  left: 50%;
  z-index: 100;
  transform: translateX(-50%);
}
.toolbar .info-inverted {
  max-width: 7rem;
  
}

/* Shadows */
.youtubeWrapper, .Card{
  box-shadow: 0 1px 3px 1px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

/* COMPONENTS */
.Card {
  position: relative;
  padding: 0 1rem;
  margin: 0 auto;
  border-radius: 0.01rem 0.2rem 0.02rem 0.01rem;
  width: calc(100vw - 2rem);
  max-width: 30rem;
  background-image: url('./assets/card_texture1x.webp');
  min-width: 10rem;
}
.Card.gridpaper {
  background-image: url("assets/gridpaper1x.png");
  background-size: 5rem 5rem;
}
.Card-content {
  display: flex;
  flex-flow: column;
}
.Card-content p:first-of-type,
.Card-content h2:first-of-type {
  margin-top:1rem;
}
.Card-content p:last-of-type,
.Card-content .Button:last-of-type {
  margin-bottom: 1rem;
}
.Card-content .BatchCard{
  margin:1rem 0;
}
.Card .Clickable {
  cursor: pointer;
  height: 100%;
  width: 100%;
  display: block;
  color: inherit;
  text-decoration: none;
}
.Card .Clickable:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.Card .Illustration-picture {
  display: flex;
}
.Card.hasIllustration .Illustration {
  position: absolute;
  width: 6rem;
  bottom: 3rem;
  right: 4rem;
  transform: rotate(4deg) scale(2,2) translate(2rem, 2rem);
  box-shadow: 0 1px 3px 1px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
@media only screen and (min-width: 620px) {
  .Card {
    min-width: 34.25rem;
  }
  .Button {
    max-width: 34.25rem;
  }
  .Card.hasIllustration .Illustration{
    position: relative;
    float: right;
    bottom: inherit;
    right: inherit;
  }
}

.Button {
  display: flex;
  justify-self: flex-start;
  align-self: flex-start;
  height: inherit;
  align-items: center;
  width: auto;
  justify-content: center;
  cursor: pointer;
  border: none;
  text-decoration: none;
  background:none;
}
.Button-inner {
  position: relative;
  font-family: "BordersDivideButHeartsShallConquer";
  font-size: 1.4rem;
  line-height: 1.125rem;
  border: none;
  display: inline-flex;
  gap: 1rem;
  max-height: 3rem;
  flex:1;
  align-items: center;
  font-weight: normal;
  padding: 0.875rem 1.75rem;
  background-image: url('./assets/card_texture1x.webp');
  background-size: 100% 100%;
}
.navigation  .Button-inner:after,
.App-header .Button-inner:after,
.Card .Button-inner:after {
  content: '';
  position: absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  mix-blend-mode: color-burn;
  box-shadow: 0 1px 3px 1px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.navigation .Button-inner:after{
  background:#ef25d8;
}
.App-header .Button-inner:after{
  background:#6dd7fe;
}
.Card .Button-inner:after {
  background: #facd00;
  border: 1px solid rgba(0,0,0,.5);
}
.Button.info-inverted{
  width:inherit;
}
.Button-inner .Icon {
  height: 1.125rem;
  width:1.125rem;
}
.Button-inner .Icon svg {
  height: 100%;
  width: 100%;
}
.Button-inner .Icon.folder,
.Button-inner .Icon.play-button {
  height: 1.5rem;
  width: 1.5rem;
}
.Button-inner .Icon.arrow-right {
  height: 1.125rem;
  width: 1.125rem;
}
.Button-inner .Icon.arrow-left {
  height: 1.125rem;
  width: 1.125rem;
}
.Button-inner .Icon.arrow-left-inverted {
  height: 1.125rem;
  width: 1.725rem;
}
.Button-inner .Icon.info-inverted {
  width: 1.5rem;
  height: 1.5rem;
}
.info-inverted {
  width: auto;
}
/* TYPOGRAPHY */
body {
  font-family: 'Courier New', Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 1.125rem;
  color: #f6f7f8;
}
@media only screen and (min-width: 620px) {
  html,
  body {
    font-size: 18px;
  }
}
h1{
  font-family: "HeaderMarker";
  font-weight: 900;
}
h2,
h3 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  font-weight: bolder;
}
p {
  font-size: 1rem;
  line-height: 1em;
  text-align: left;
  line-height: 1.2em;
}
p > strong {
  font-weight: bold;
}
h1, h2, p{
  mix-blend-mode: multiply;
  text-shadow: 0 -1px #d8d8d8;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.tag {
  padding: 0.3rem;
  font-size: 0.75rem;
  line-height: 0.8125rem;
}
.stars {
  width: 3.27rem;
  display: inline-block;
}
.star svg {
  width: 0.8125rem;
  height: 0.75rem;
}

@font-face {
  font-family: "SuperMarioMakerExtended";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/SuperMarioMakerExtended.eot"); /* IE9 Compat Modes */
  src: local("Super-Mario-Maker-Extended"), local("SuperMarioMakerExtended"),
    url("./fonts/SuperMarioMakerExtended.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/SuperMarioMakerExtended.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./fonts/SuperMarioMakerExtended.woff")
      format("woff"),
    /* Modern Browsers */ url("./fonts/SuperMarioMakerExtended.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./fonts/SuperMarioMakerExtended.svg#SuperMarioMakerExtended")
      format("svg"); /* Legacy iOS */
}

@font-face {
  font-family: "SuperMario";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/SuperMario.eot"); /* IE9 Compat Modes */
  src: local("Super-Mario"), local("SuperMario"),
    url("./fonts/SuperMario.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/SuperMario.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./fonts/SuperMario.woff") format("woff"),
    /* Modern Browsers */ url("./fonts/SuperMario.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("./fonts/SuperMario.svg#SuperMario")
      format("svg"); /* Legacy iOS */
}

@font-face {
  font-family: "latoregular";
  src: url("./fonts/lato-regular.woff2") format("woff2"),
    url("./fonts/lato-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HeaderMarker";
  src: url("./fonts/HeaderMarker.otf");
}
@font-face {
  font-family: "HeartWarming";
  src: url("./fonts/HeartWarming.otf");
}
@font-face {
  font-family: "HeartWarmingExtra";
  src: url("./fonts/HeartWarmingExtra.otf");
}
@font-face {
  font-family: "BordersDivideButHeartsShallConquer";
  src: url('./fonts/BordersDivideButHeartsShallConquer.otf');
}