/* RESET DEFAULT HTML STYLING */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a,
a:active {
  color: var(--text-color);
}


picture {
  display: grid;
}

picture img {
  max-width: 100%;
  color: transparent;
  object-fit: cover;
}

.Logo .image {
  object-fit: contain;
}

.tags>span,
.highlight {
  position: relative;
  min-width: var(--tag-min-width, inherit);
  text-align: var(--tag-text-align, inherit);
  color: var(--tag-color, var(--text-color, inherit));
}

.tags span:before,
.highlight:before {
  overflow: visible;
  position: absolute;
  content: var(--tag-before-content, none);
  top: var(--tag-before-top, 0);
  left: var(--tag-before-left, 0);
  right: var(--tag-before-right, 0);
  bottom: var(--tag-before-bottom, 0);
  background: var(--tag-before-background, none);
  transform: var(--tag-before-transform, none);
  mix-blend-mode: var(--tag-before-mix-blend-mode, darken);
}

.tags span.new:before,
.tags span.precision:before,
.tags span.unreleased:before {
  background: var(--tag-before-new-background);
}

.tags span.new:before,
.tags span.gimmick:before,
.tags span.puzzle:before,
.tags span.music:before {
  background: var(--tag-before-other-background);
}

.tags span.troll:after {
  content: '';
  margin-top: -.2em;
  bottom: .2em;
  width: 1.5em;
  height: 1.5em;
  background-size: 100% 100%;
  background-image: url('./assets/7mmc/troll_kiavik.webp');
}

h1 {
  text-align: left;
  padding: 0;
  margin: 0;
  letter-spacing: var(--h1-letter-spacing, normal);
  font: var(--h1-font);
}

h2,
h3 {
  font: var(--h2-font);
}

p {
  text-align: left;
}

p>strong {
  font-weight: bold;
}

h1,
h2,
p {
  mix-blend-mode: var(--text-mix-blend-mode);
  text-shadow: var(--text-shadow);
  letter-spacing: var(--letter-spacing);
}

code {
  font-family: var(--font-monospace);
}


.Logo {
  display: flex;
  justify-content: center;
  width: 100%;
}

.Logo.small {
  justify-content: left;
}

.Logo.small .Logo-img {
  width: 9rem;
  height: 3rem;
  object-fit: contain;
  object-position: 0 50%;
}

.Logo.normal .Logo-img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  object-position: 50% 50%;
}

.toolbar {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  grid-template-rows: 1fr;
  position: relative;
  flex-direction: row;
  align-items: center;
}

.toolbar.small {
  display: flex;
  flex: 1 0 0;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.AboutBtn.Button {
  display: block;
  position: absolute;
  height: auto;
  width: auto;
  right: 0;
  font-size: .8rem;
  transform-origin: top right;
}

.AboutBtn .Button-inner:after {
  background: var(--about-button-after-background, var(--button-after-background, inherit));
}

.youtubeWrapper {
  box-shadow: var(--box-shadow);
}

.Card {
  display: grid;
  box-shadow: var(--box-shadow);
  position: relative;
  padding: 1rem;
  border-radius: var(--card-border-radius);
  background: var(--card-background);
  gap: 1em;
  height: max-content;
}

.Card-content {
  display: grid;
  gap: 1rem;
}

.Card.Clickable {
  cursor: pointer;
  text-decoration: none;
}

.Card.Clickable:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.Card .Illustration-picture {
  display: flex;
}

.Card.hasIllustration .Illustration {
  position: absolute;
  bottom: -6px;
  right: 0;
  transform: rotate(4deg) translate(2rem, 2rem);
  box-shadow: var(--box-shadow);
  max-width: 220px;
  margin-left: 180px;
}

@media only screen and (max-width: 560px) {
  .Card.hasIllustration .Illustration {
    display: none;
  }
}

.Button {
  font: var(--button-font);
  justify-self: flex-start;
  align-self: flex-start;
  height: inherit;
  align-items: center;
  width: auto;
  cursor: pointer;
  border: none;
  text-decoration: none;
  background: none;
}

.Button-inner {
  display: grid;
  grid-template-columns: 1fr 24px;
  position: relative;
  border: none;
  gap: .5em;
  align-items: center;
  padding: var(--button-padding, 1em);
  color: var(--button-color, inherit);
  background: var(--button-background);
  border-radius: var(--button-border-radius);
}

.iconIsLeft .Button-inner {
  grid-template-columns: 24px 1fr;
  justify-items: center;
}

.Button-inner:after {
  content: var(--button-after-content, none);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: var(--button-after-background, inherit);
  mix-blend-mode: var(--button-after-mix-blend-mode, none);
  box-shadow: var(--button-after-box-shadow, none);
}



.Card .Button-inner:after {
  background: var(--card-button-after-background, var(--button-after-background, inherit));
  border: var(--card-button-after-border, inherit);
}

.Button-inner .Icon svg {
  height: 100%;
  width: 100%;
}



/* TYPOGRAPHY */
body {
  font-family: var(--font-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 1.125rem;
}

@media only screen and (min-width: 620px) {

  html,
  body {
    font-size: 18px;
  }
}

@media only screen and (min-width: 1024px) {

  html,
  body {
    font-size: 18px;
  }
}

.tag {
  padding: 0.3rem;
  font-size: 0.75rem;
  line-height: 0.8125rem;
}

.stars {
  width: 3.27rem;
  display: inline-block;
}

.star svg {
  width: 0.8125rem;
  height: 0.75rem;
}

@font-face {
  font-family: "SuperMarioMakerExtended";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./fonts/SuperMarioMakerExtended.eot");
  /* IE9 Compat Modes */
  src: local("Super-Mario-Maker-Extended"), local("SuperMarioMakerExtended"),
    url("./fonts/SuperMarioMakerExtended.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */
    url("./fonts/SuperMarioMakerExtended.woff2") format("woff2"),
    /* Super Modern Browsers */
    url("./fonts/SuperMarioMakerExtended.woff") format("woff"),
    /* Modern Browsers */
    url("./fonts/SuperMarioMakerExtended.ttf") format("truetype"),
    /* Safari, Android, iOS */
    url("./fonts/SuperMarioMakerExtended.svg#SuperMarioMakerExtended") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: "SuperMario";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./fonts/SuperMario.eot");
  /* IE9 Compat Modes */
  src: local("Super-Mario"), local("SuperMario"),
    url("./fonts/SuperMario.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */
    url("./fonts/SuperMario.woff2") format("woff2"),
    /* Super Modern Browsers */
    url("./fonts/SuperMario.woff") format("woff"),
    /* Modern Browsers */
    url("./fonts/SuperMario.ttf") format("truetype"),
    /* Safari, Android, iOS */
    url("./fonts/SuperMario.svg#SuperMario") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: "latoregular";
  font-display: swap;
  src: url("./fonts/lato-regular.woff2") format("woff2"),
    url("./fonts/lato-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HeaderMarker";
  font-display: swap;
  src: url("./fonts/HeaderMarker.otf");
}

@font-face {
  font-family: "HeartWarming";
  font-display: swap;
  src: url("./fonts/HeartWarming.otf");
}

@font-face {
  font-family: "HeartWarmingExtra";
  font-display: swap;
  src: url("./fonts/HeartWarmingExtra.otf");
}

@font-face {
  font-family: "BordersDivideButHeartsShallConquer";
  font-display: swap;
  src: url('./fonts/BordersDivideButHeartsShallConquer.otf');
}