.Level {
  display: grid;
  gap: 1rem;
}

.Level .levelImg {
  max-width: 100%;
}

.Level .Card {
  overflow: hidden;
  padding: 0.5rem;
}

.Level .makerPicture {
  align-self: center;
  justify-self: center;
}

.Level .makerImg {
  border-radius: 0.01rem;
}

.Level .loading .makerImg {
  opacity: 0.5;
}

.Level .makerDescription {
  padding-top: 1rem;
  white-space: pre-line;
}

.Level .makerCard {
  display: flex;
  flex-flow: column;
}

.Level .levelInfo {
  display: flex;
}

.Level .levelName {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: bolder;
}

.Level .makerInfo {
  display: flex;
  flex: 1 0 0;
  padding-bottom: 0.5rem;
  text-align: left;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.Level .makerName {
  font-size: 1rem;
  flex: 1 0 0;
  margin-top: 0.5rem;
  align-self: center;
}

.Level .makerName,
.Level .stars,
.Level .makerPicture {
  mix-blend-mode: var(--maker-info-mix-blend-mode, none);
}

.Level .makerId {
  font-size: 0.5rem;
  display: block;
}

.Level .nationality {
  margin-right: 0.45rem;
  filter: brightness(.96);
}

.Level .levelCode {
  border-radius: 0px 0px 0.25rem 0.25rem;
  padding-left: 1rem;
  font: var(--level-code-font, 'inherit');
  background: var(--level-code-background, #111);
  mix-blend-mode: var(--level-code-mix-blend-mode, none);
  filter: var(--level-code-filter, none);
  color: var(--level-code-color, #111);
}

.Level .info {
  padding: 0.5rem 0.5rem;
  display: flex;
  flex-flow: column;
  width: 100%;
}

.Level .difficulty {
  font-size: 0.75rem;
  align-self: flex-end;
  justify-self: flex-end;
}

.Level .tags {
  display: grid;
  align-self: flex-end;
  padding-top: 0.2rem;
  padding-right: 0.2rem;
  flex: 1 0 0;
  grid-template-columns: max-content max-content;
  grid-template-rows: max-content;
  grid-gap: 0.3rem;
}

.Level .description {
  white-space: pre-line;
  padding-top: 1rem;
}

.Level .Icon.arrow-left {
  margin: 0;
}

.Level .navigation.hasNextLevel {
  display: flex;
  justify-content: flex-end;
}

.Level .navigation.hasNextLevel.hasPreviousLevel {
  display: flex;
  justify-content: space-between;
}

.Level .navigation {
  display: flex;
  flex-flow: row;
}

.Level .navigation .Button.arrow-right {
  align-self: flex-end;
  justify-self: flex-end;
}

.Level .navigation.hasNextLevel.hasPreviousLevel .Button.arrow-right {
  margin-left: 0;
}

.Level .navigation .Button.arrow-left {
  max-width: 5.125rem;
  margin-right: 0;
}